unboundRecursive:
  enabled: "true"
  serviceName: unbound-recursive
  config:
    verbosity: 1
    logQueries: "no"

    trustAnchorFile: "/etc/unbound/data/root.key"
    rootHints: "/etc/unbound/data/root.hints"
    interface: "0.0.0.0"
    accessControl: "0.0.0.0/0 allow"

    rootHintsUrl: https://www.internic.net/domain/named.root

  deployment:
    replicaCount: 1
    image:
      repository: alpinelinux/unbound:latest
      pullPolicy: IfNotPresent

    livenessProbe:
      enabled: "false"
      healthcheckDomain: cloudflare.com
      initialDelaySeconds: 5
      periodSeconds: 60

  service:
    type: ClusterIP
    #type:  LoadBalancer
    port: 5300
    targetPort: 53
    clusterIP: 10.96.0.53

dohProxy:
  serviceName: doh-proxy
  enabled: "true"
  config:
    bindAddress: "0.0.0.0"
    listenAddress: "{{.Values.dohProxy.config.bindAddress}}:{{.Values.dohProxy.service.port}}"
    serverAddress: "{{ .Values.unboundRecursive.serviceName }}.{{ .Release.Namespace }}.svc.cluster.local:{{ .Values.unboundRecursive.service.port }}"

  deployment:
    replicaCount: 1
    image:
      repository: jcsaaddupuy/doh-server:latest
      pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    # #type:  LoadBalancer
    port: 3000
    protocol: TCP



agh:
  serviceName: agh
  enabled: "true"

  deployment:
    replicaCount: 1
    image:
      repository: adguard/adguardhome:latest
      pullPolicy: IfNotPresent

    livenessProbe:
      enabled: "false"
      healthcheckDomain: cloudflare.com
      initialDelaySeconds: 5
      periodSeconds: 60

  services:
    type: ClusterIP
    dns:
      port: 5300
      targetPort: 53
      bindHost: 0.0.0.0
    httpAdmin:
        port: 80
        targetPort: 80

dohProxyAGH:
  serviceName: doh-proxy-agh
  enabled: "true"

  config:
    bindAddress: "0.0.0.0"
    listenAddress: "{{.Values.dohProxyAGH.config.bindAddress}}:{{.Values.dohProxyAGH.service.port}}"
    serverAddress: "{{ .Values.agh.serviceName }}.{{ .Release.Namespace }}.svc.cluster.local:{{ .Values.agh.services.dns.port }}"


  deployment:
    replicaCount: 1
    image:
      repository: jcsaaddupuy/doh-server:latest
      pullPolicy: IfNotPresent

  service:
    type: ClusterIP
    port: 3000
    protocol: TCP


ingress:
  enabled: "true"
  name: doh-ingress
  class: "kong"

  rootDomain: example.fr

  certManager:
    issuer: "letsencrypt-prod"
  
  tls:
    enabled: "true"
    secretName: "{{.Values.ingress.name}}-tls"

  hosts:
    - host: "ns1.{{.Values.ingress.rootDomain}}"
      enabled: "true"
      paths:
        - path: /
          backend:
              serviceName: "{{ .Values.dohProxy.serviceName }}"
              servicePort: "{{int .Values.dohProxy.service.port }}"

    - host: "ns2.{{.Values.ingress.rootDomain}}"
      enabled: "true"
      paths:
        - path: /dns-query
          backend:
              serviceName: "{{ .Values.dohProxyAGH.serviceName }}"
              servicePort: "{{ int .Values.dohProxyAGH.service.port }}"
        - path: /
          backend:
              serviceName: "{{ .Values.agh.serviceName }}"
              servicePort: "80"

tcp:
   enabled: "true"
   routes:
    - name: tcp-tls
      # tls: "true"
      tls: "false"
      secretName: "{{.Values.ingress.name}}-tls"
      services:
        - name: ns1-tcp
          host: "ns1.{{.Values.ingress.rootDomain}}"
          port: 853
          
          backend:
            serviceName:  "{{ .Values.unboundRecursive.serviceName }}"
            servicePort: "{{int .Values.unboundRecursive.service.port }}"

        - name: ns2-tcp
          host: "ns2.{{.Values.ingress.rootDomain}}"
          port: 853

          backend:
            serviceName: "{{ .Values.agh.serviceName }}"
            servicePort: "{{ int .Values.agh.services.dns.port }}"


udp:
   enabled: "false"
   routes:
    - name: dns-udp
      services:
        - name: ns1-tcp
          host: "ns1.{{.Values.ingress.rootDomain}}"
          port: 53
          
          backend:
            serviceName:  "{{ .Values.unbound.serviceName }}"
            servicePort: "{{int .Values.unbound.service.port }}"


cronjobs:
  - name: "restart-unbound-recursive"
    enabled: "true"
    timeZone: "Europe/Paris"
    schedule: "0 6 * * *"
    restartServiceName: "deployment/unbound-recursive"
  
  - name: "restart-doh-proxy"
    enabled: "true"
    timeZone: "Europe/Paris"
    schedule: "3 6 * * *"
    restartServiceName: "deployment/doh-proxy"

  - name: "restart-doh-proxy-agh"
    enabled: "true"
    timeZone: "Europe/Paris"
    schedule: "5 4 * * *"
    restartServiceName: "deployment/doh-proxy-agh"

  - name: "restart-agh"
    enabled: "true"
    timeZone: "Europe/Paris"
    schedule: "5 6 * * *"
    restartServiceName: "deployment/agh"