unboundRecursive:
  enabled: "true"
  serviceName: unbound-recursive
  config:
    verbosity: 1
    logQueries: "yes"

    trustAnchorFile: "/opt/unbound/etc/unbound/data/root.key"
    rootHints: "/opt/unbound/etc/unbound/data/root.hints"
    interface: "0.0.0.0"
    accessControl: "0.0.0.0/0 allow"

    rootHintsUrl: https://www.internic.net/domain/named.root

  deployment:
    replicaCount: 1
    image:
      repository: mvance/unbound:latest
      pullPolicy: IfNotPresent

    livenessProbe:
      enabled: "true"
      healthcheckDomain: cloudflare.com
      initialDelaySeconds: 5
      periodSeconds: 60

  service:
    type: ClusterIP
    #type:  LoadBalancer
    port: 5300
    targetPort: 53
    clusterIP: 10.96.0.53

unbound:
  # enabled: true
  serviceName: unbound
  enabled: "true"

  config:
    verbosity: 0
    logQueries: "yes"
    interface: "0.0.0.0"
    accessControl: "0.0.0.0/0 allow"
    forwardZones:
      - name: "."
        forwardAddresses:
          - 10.96.0.53@5300

  deployment:
    replicaCount: 1
    image:
      repository: mvance/unbound:latest
      pullPolicy: IfNotPresent

    livenessProbe:
      enabled: "true"
      healthcheckDomain: cloudflare.com
      initialDelaySeconds: 5
      periodSeconds: 60

  service:
    type: ClusterIP
    # #type:  LoadBalancer
    port: 5300
    targetPort: 53
    

# Unbound configured with blocklists
unboundBlocklist:
  serviceName: unbound-blocklist
  enabled: "true"

  config:
    verbosity: 1
    logQueries: "yes"
    interface: "0.0.0.0"
    accessControl: "0.0.0.0/0 allow"
    includes:
      - "/opt/unbound/etc/unbound/blocklists/blacklist.conf"
    forwardZones:
      - name: "."
        # unbound auth clusterIP
        forwardAddresses:
          - 10.96.0.53@5300
    
    canaryDomain: 'blockme.localhost'

    blocklists:
      - name: StevenBlack
        url: https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts
        # hostFileIpPattern: "0.0.0.0"


  deployment:
    replicaCount: 1
    image:
      repository: mvance/unbound:latest
      pullPolicy: IfNotPresent

    livenessProbe:
      enabled: "true"
      healthcheckDomain: cloudflare.com
      initialDelaySeconds: 5
      periodSeconds: 60

  service:
    type: ClusterIP
    port: 5300
    targetPort: 53

dohProxy:
  serviceName: doh-proxy
  enabled: "true"
  config:
    bindAddress: "0.0.0.0"
    listenAddress: "{{.Values.dohProxy.config.bindAddress}}:{{.Values.dohProxy.service.port}}"
    serverAddress: "{{ .Values.unbound.serviceName }}.{{ .Release.Namespace }}.svc.cluster.local:{{ .Values.unbound.service.port }}"

  deployment:
    replicaCount: 1
    image:
      repository: jcsaaddupuy/doh-server:latest
      pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    # #type:  LoadBalancer
    port: 3000
    protocol: TCP

dohProxyBlocklist:
  serviceName: doh-proxy-blocklist
  enabled: "true"

  config:
    bindAddress: "0.0.0.0"
    listenAddress: "{{.Values.dohProxyBlocklist.config.bindAddress}}:{{.Values.dohProxyBlocklist.service.port}}"
    serverAddress: "{{ .Values.unboundBlocklist.serviceName }}.{{ .Release.Namespace }}.svc.cluster.local:{{ .Values.unboundBlocklist.service.port }}"


  deployment:
    replicaCount: 1
    image:
      repository: jcsaaddupuy/doh-server:latest
      pullPolicy: IfNotPresent

  service:
    type: ClusterIP
    port: 3000
    protocol: TCP
 
ingress:
  enabled: "true"
  name: doh-ingress
  class: "kong"

  rootDomain: example.fr

  certManager:
    issuer: "letsencrypt-prod"
  
  tls:
    enabled: "true"
    secretName: "{{.Values.ingress.name}}-tls"

  hosts:
    - host: "ns1.{{.Values.ingress.rootDomain}}"
      enabled: "true"
      paths:
        - path: /
          backend:
              serviceName: "{{ .Values.dohProxy.serviceName }}"
              servicePort: "{{int .Values.dohProxy.service.port }}"

    - host: "ns2.{{.Values.ingress.rootDomain}}"
      enabled: "true"
      paths:
        - path: /
          backend:
              serviceName: "{{ .Values.dohProxyBlocklist.serviceName }}"
              servicePort: "{{ int .Values.dohProxyBlocklist.service.port }}"

tcp:
   enabled: "true"
   routes:
    - name: tcp-tls
      tls: "true"
      secretName: "{{.Values.ingress.name}}-tls"
      services:
        - name: ns1-tcp
          host: "ns1.{{.Values.ingress.rootDomain}}"
          port: 853
          
          backend:
            serviceName:  "{{ .Values.unbound.serviceName }}"
            servicePort: "{{int .Values.unbound.service.port }}"

        - name: ns2-tcp
          host: "ns2.{{.Values.ingress.rootDomain}}"
          port: 853

          backend:
            serviceName: "{{ .Values.unboundBlocklist.serviceName }}"
            servicePort: "{{ int .Values.unboundBlocklist.service.port }}"

    - name: dns-tcp
      services:
        - name: ns1-tcp
          host: "ns1.{{.Values.ingress.rootDomain}}"
          port: 53
          
          backend:
            serviceName:  "{{ .Values.unbound.serviceName }}"
            servicePort: "{{int .Values.unbound.service.port }}"


udp:
   enabled: "true"
   routes:
    - name: dns-udp
      services:
        - name: ns1-tcp
          host: "ns1.{{.Values.ingress.rootDomain}}"
          port: 53
          
          backend:
            serviceName:  "{{ .Values.unbound.serviceName }}"
            servicePort: "{{int .Values.unbound.service.port }}"


cronjob:
  enabled: "true"
  timeZone: "Europe/Paris"
  schedule: "5 4 * * *"
  restartServiceName:  "{{ .Values.unboundBlocklist.serviceName }}"