{{- $Namespace := .Release.Namespace -}}
{{- range .Values.cronjobs }}
{{- if eq (.enabled | toString) "true" -}}
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: cronjob-{{.name}}
spec:
  schedule: {{ .schedule }}
  timeZone: {{ .timeZone }}
  concurrencyPolicy: "Replace"
  startingDeadlineSeconds: 200
  suspend: false
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        spec:
          serviceAccountName: cronjob-restart
          containers:
            - name: cronjob-restart
              image: bitnami/kubectl:latest
              imagePullPolicy: IfNotPresent
              command:
                - /bin/sh
                - -c
                - kubectl rollout restart ${DEPLOYMENT_NAME} -n ${DEPLOYMENT_NAMESPACE}
              env:
                - name: DEPLOYMENT_NAME
                  value: "{{ .restartServiceName }}"
                - name:  DEPLOYMENT_NAMESPACE
                  value:  {{ $Namespace }}
          restartPolicy: OnFailure
---
{{- end -}}

{{- end -}}
