{{- if eq (.Values.cronjob.enabled | toString) "true" -}}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: cronjob-restart
spec:
  schedule: {{ .Values.cronjob.schedule }}
  timeZone: {{ .Values.cronjob.timeZone }}
  concurrencyPolicy: "Replace"
  startingDeadlineSeconds: 200
  suspend: false
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        spec:
          serviceAccountName: cronjob-restart
          containers:
            - name: cronjob-restart
              image: bitnami/kubectl:latest
              imagePullPolicy: IfNotPresent
              command:
                - /bin/sh
                - -c
                - kubectl rollout restart ${DEPLOYMENT_NAME} -n ${DEPLOYMENT_NAMESPACE}
              env:
                - name: DEPLOYMENT_NAME
                  value: "{{ .Values.cronjob.restartServiceName }}"
                - name:  DEPLOYMENT_NAMESPACE
                  value:  {{ .Release.Namespace }}
          restartPolicy: OnFailure
{{- end }}
