{{- if eq (.Values.tcp.enabled | toString) "true" -}}
{{- if eq (.Values.ingress.class | toString) "kong" -}}
{{- $dot := . }}


{{- range .Values.tcp.routes }}
{{- $route := . }}
---
apiVersion: configuration.konghq.com/v1beta1
kind: TCPIngress
metadata:
  name: {{.name}}
  annotations:
    kubernetes.io/ingress.class: {{$dot.Values.ingress.class}}
spec:
  {{ if eq ( .tls | toString) "true" }}
  tls:
  - secretName: "{{ tpl .secretName $dot }}"
    hosts:
        {{- range .services }}
        - {{ tpl .host $dot }}
        {{- end }}
  {{- end }}
  rules:
   {{- range .services }}
  - port: {{.port}}
    host:  {{ tpl .host $dot }}
    backend:
      serviceName:  {{ tpl .backend.serviceName $dot }}
      servicePort: {{ tpl .backend.servicePort $dot }}
  {{- end }}
{{- end }}

{{- end }}
{{- end }}
