{{- if eq (.Values.unboundBlocklist.enabled | toString) "true" -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: unbound-blocklist-config-configmap
  labels:
    app: unbound-blocklist
  annotations:
        checksum/unbound.conf: {{ tpl (.Files.Get "config/unbound/unbound.conf") .Values.unboundBlocklist | sha256sum }}
        checksum/refresh-blacklist.sh: {{ tpl (.Files.Get "config/blocklist/refresh-blacklist.sh") .Values.unboundBlocklist | sha256sum }}
data:
  # automatically inject filename and content
  unbound.conf: |-
{{ tpl (.Files.Get "config/unbound/unbound.conf") .Values.unboundBlocklist | nindent 4 }}

  refresh-blacklist.sh: |-
{{ tpl (.Files.Get "config/blocklist/refresh-blacklist.sh") .Values.unboundBlocklist | nindent 4 }}

--- 
apiVersion: apps/v1
kind: Deployment
metadata:
  name: unbound-blocklist
spec:
  selector:
    matchLabels:
      run: unbound-blocklist
  replicas: {{ .Values.unboundBlocklist.deployment.replicaCount }}
  template:
    metadata:
      labels:
        run: unbound-blocklist
    spec:
      initContainers:
      - name: init-myservice
        image: curlimages/curl
        command: ['sh', '/etc/unbound/refresh-blacklist.sh']
        workingDir: /etc/unbound/blocklists/
        securityContext:
          runAsUser: 0
        env:
          - name: CANARY_DOMAIN
            value: {{ .Values.unboundBlocklist.config.canaryDomain }}
        
        # Configuration
        volumeMounts:
            - name: unbound-blocklist-config
              mountPath: /etc/unbound/refresh-blacklist.sh
              subPath: refresh-blacklist.sh
            - name: unbound-blocklist-blocklists
              mountPath: "/etc/unbound/blocklists/"

      containers:
        # - name: unbound-blocklist-debug
        #   image: {{ .Values.unboundBlocklist.deployment.image.repository }}
        #   command: ["sleep", "1000"]

        #   # Configuration
        #   volumeMounts:
        #   - name: unbound-blocklist-config
        #     mountPath: /etc/unbound/unbound.conf
        #     subPath: unbound.conf
        #   - name: unbound-blocklist-blocklists
        #     mountPath: "/etc/unbound/blocklists/"

        - name: unbound-blocklist
          image: {{ .Values.unboundBlocklist.deployment.image.repository }}
          ports:
            - containerPort: {{ .Values.unboundBlocklist.service.port }}
              protocol: UDP
              name: 'udp-53'
            - containerPort: {{ .Values.unboundBlocklist.service.port }}
              protocol: TCP
              name: 'tcp-53'
          # resources:
          #   requests:
          #     memory: "32Mi"
          #     cpu: "250m"
          #   limits:
          #     memory: "128Mi"
          #     cpu: "500m"           
          {{- if eq (.Values.unboundBlocklist.deployment.livenessProbe.enabled | toString) "true" }}
          # liveness : predically resolve a domain
          livenessProbe:
            exec:
              command:
                - drill
                - '@{{ .Values.unboundBlocklist.serviceName }}.{{ .Release.Namespace }}.svc.cluster.local'
                - '-p {{ .Values.unboundBlocklist.service.port }}'
                - {{ .Values.unboundBlocklist.deployment.livenessProbe.healthcheckDomain }}
            initialDelaySeconds:  {{ .Values.unboundBlocklist.deployment.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.unboundBlocklist.deployment.livenessProbe.periodSeconds }}
          {{- end }}

          # Configuration
          volumeMounts:
          - name: unbound-blocklist-config
            mountPath: /etc/unbound/unbound.conf
            subPath: unbound.conf
          - name: unbound-blocklist-blocklists
            mountPath: "/etc/unbound/blocklists/"

      volumes:
        - name: unbound-blocklist-config
          configMap:
            name: unbound-blocklist-config-configmap
        - name: unbound-blocklist-blocklists
          emptyDir: {}


---
apiVersion: v1
kind: Service
metadata:
  name: unbound-blocklist
  labels:
    run: unbound-blocklist
spec:
  ports:
    - port:  {{ .Values.unboundBlocklist.service.port }}
      protocol: TCP
      name: 'tcp-53'
      targetPort: {{ .Values.unboundBlocklist.service.targetPort }}
    - port:  {{ .Values.unboundBlocklist.service.port }}
      protocol: UDP
      name: 'udp-53'
      targetPort: {{ .Values.unboundBlocklist.service.targetPort }}
  selector:
    run: unbound-blocklist
{{- end }}
